body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 420px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
    width: 90%;
    height: 80px;
    padding: 8px;
    border-radius: 5px;
}

button {
    padding: 10px 25px;
    margin-top: 10px;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

#resultBox {
    margin-top: 15px;
    padding: 12px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.footer {
    font-size: 12px;
    margin-top: 20px;
}
